.vscode/*
**/.DS_Store
**/.ipynb_checkpoints
**/__pycache__

# may be cleaned
**/*.p
**/*.pkl
**/*.png
**/*.pyc
**/*.pt
**/record*.txt
src/experiments/*
**/*.zip
data/annotations/*
data/videos/*
**/*.mov
**/events*
**/my_package

